{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <div data-v-5a54b754="" class="carousel">
        <div data-v-5a54b754="" class="slide" style="transition: none 0s ease 0s; transform: translateX(0px); z-index: 10;">
            <div data-v-5a54b754="" class="content">
                <div data-v-1202b60b="" data-v-5a54b754="" class="app-card main-banner-card">
                    <div class="app-card__header"></div>
                    <div class="app-card__image"></div>
                    <div class="app-card__content">
                        <div data-v-1202b60b="" class="banner-discount-discount__block">
                            <div data-v-1202b60b="" class="banner-discount-discount__title"> Мобильное приложение Квартплата.онлайн </div>
                            <div data-v-1202b60b="" class="main-banner__description"> Вся информация всегда под рукой.<br data-v-1202b60b=""> Для тех, кто ценит свое время. </div>
                            <div data-v-1202b60b="" class="main-banner__link">
                                <div data-v-1202b60b="" class="main-banner__store-image">
                                    <a data-v-1202b60b="" href="https://play.google.com/store/apps/details?id=com.myhousereactnativemigration&amp;hl=ru" target="_blank">
                                        <img data-v-1202b60b="" src="/media/img/icon_Google.svg">
                                    </a>
                                </div>
                                <div data-v-1202b60b="" class="main-banner__store-image">
                                    <a data-v-1202b60b="" href="https://apps.apple.com/ru/app/%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%BF%D0%BB%D0%B0%D1%82%D0%B0-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD/id1482895258" target="_blank">
                                        <img data-v-1202b60b="" src="/media/img/icon_App_Store.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-card__footer"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-v-894d0d10="" class="payment-all__list">
        <div class="table-payments" data-v-894d0d10="">
            <table class="app-table app-table--small app-table--only">
                <thead class="app-table__thead">
                <tr class="app-table__tr-head">
                    <th width="320px" class="app-table__th">
                        <span>Имя</span>
                    </th>
                    <th width="365px" class="app-table__th">
                        <span>ЛС / Договор</span>
                    </th>
                    <th width="440px" class="app-table__th">
                    <span>Поставщик</span>
                    </th>
                    <th width="1px" class="app-table__th">
                        <span>Баланс</span>
                    </th>
                </tr>
                </thead>
            </table>
            {% for personal_account in personal_account_list %}
            <div class="app-table__tbody">
                <ul class="app-table__tr-body">
                    <li>
                        <span class="app-table__title-mob" style="display: none;">Название:</span>
                        <span>{{ personal_account.name }}</span>
                    </li>
                    <li class="app-table__company-mob">
                        <span class="app-table__title-mob" style="display: none;">Название:</span>
                        <span>{{ personal_account.personal_account }}</span>
                    </li>
                    <li class="app-table__company-mob">
                        <span class="app-table__title-mob" style="display: none;">Название:</span>
                        <span>{{ personal_account.organization.name }}</span>
                    </li>
                    <li>
                        <span class="app-table__title-mob">Цена:</span> {{ personal_account.balance }} ₽
                    </li>
                    <li>
                        <div class="app-table__tr-button">
                            <button class="app-button app-button--primary ">
                                <span class="app-button__content">Оплатить</span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}