{% extends 'base.html' %}

{% block title %}
Заявки
{% endblock %}

{% block content %}
    <div class="app-card main-banner-card mb-4" data-v-894d0d10="" style="background-image: url(&quot;/media/img/fon-request.png&quot;) !important;">
        <div class="app-card__header"></div>
        <div class="app-card__image"></div>
        <div class="app-card__content">
            <div class="main-banner">
                <div class="main-banner__title"> Отправьте заявку в управляющую организацию </div>
                <div class="main-banner__description"> Задайте свой вопрос или сообщите о проблеме.
                    <br>
                    <br>
                </div>
                <button type="button" class="app-button app-button--primary btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">
                    <span class="app-button__content"> Создать заявку </span>
                </button>
            </div>
        </div>
        <div class="app-card__footer"></div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <form action="{% url 'v1inc:request' %}" enctype='multipart/form-data' method="POST">
      <div class="modal-dialog">
        <div class="app-modal  modal-content">
          <div class="app-modal__header modal-header">
            <div class="app-modal__title"> Создание заявки </div>
            <button type="button" class="app-button--color btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="app-modal__content modal-body">
              <div class="modal-form">
                <div class="mb-2">
                    <div class="app-select">
                        <label class="app-select__label">Адрес</label>
                        <div dir="auto" class="v-select app-select__component vs--single vs--unsearchable">
                            <div id="vs1__combobox" role="combobox" aria-expanded="false" aria-owns="vs1__listbox" aria-label="Search for option" class="vs__dropdown-toggle">
                                <div class="vs__selected-options">
                                    <span class="vs__selected">
                                        {{ form.address }}

                                    </span>
                                    <div class="vs__actions">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" role="presentation" class="vs__open-indicator">
                                            <path d="M9.211364 7.59931l4.48338-4.867229c.407008-.441854.407008-1.158247 0-1.60046l-.73712-.80023c-.407008-.441854-1.066904-.441854-1.474243 0L7 5.198617 2.51662.33139c-.407008-.441853-1.066904-.441853-1.474243 0l-.737121.80023c-.407008.441854-.407008 1.158248 0 1.600461l4.48338 4.867228L7 10l2.211364-2.40069z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="mb-3">

                  {{ form.subject_appeal }}
              </div>
              <div class="mb-3">
                  {{ form.your_message }}
              </div>
              <div class="mb-3">
                  {{ form.file }}
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
      </form>
    </div>
    <div data-v-894d0d10="" class="row">
        <div data-v-894d0d10="" class="col-md-12 col-12">
            <div data-v-894d0d10="">
                <div class="app-table__empty">
                    <div class="app-table__empty-text">Заявки отсутствуют</div>
                    <div class="mt-2">
                        <img src="/img/no-content.svg" width="255px">
                    </div>
                </div>
            </div>
            <div data-v-894d0d10="" class="d-flex just-center">
                <div data-v-894d0d10="" class="mt-3">
                    <!---->
                </div>
            </div>
        </div>
    </div>
{% endblock %}