.carousel[data-v-5a54b754] {
    height: 219px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 -20px -20px -32px;
    touch-action: none;
}
.slide[data-v-5a54b754] {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 32px;
}
.content[data-v-5a54b754] {
    height: 100%;
    width: 100%;
}
.app-card {
    position: relative;
    padding: 1.375rem;
    border-radius: 24px;
    box-shadow: 0 3px 6px rgb(10 42 97 / 16%);
    background: #fff;
    z-index: 10;
    width: 100%;
}
.main-banner-card {
    height: 100%;
    background-image: url(/media/img/fon-request.png)!important;
    background-repeat: no-repeat;
    background-size: cover!important;
}
.app-card__header {
    position: relative;
    top: 0;
    z-index: 2;
}
.banner-discount-discount__block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner-discount-discount__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    max-width: 600px;
    width: 100%;
}
.main-banner__description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #777776;
    font-weight: 400;
}
main-banner__footer-links, .main-banner__link {
    display: flex;
}
.main-banner__store-image {
    width: 6.25rem;
    margin-right: 15px;
}
.app-card__footer {
    position: relative;
    botom: 0;
}
.card-add {
    margin: 0 1.35rem 0 0;
    width: 100%;
    min-width: 485px;
    max-width: 485px;
    margin-bottom: 1.35rem;
    height: 100%;
    position: relative;
    padding-right: 110px;
}
.card-add__description {
    color: #777776;
    margin-bottom: 1rem;
}
.card-add__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #171715;
    margin-bottom: 1rem;
}
/* app-payment-all__list*/
.app-table {
    margin-left: 20px;
}
.payment-all__list {
    margin-bottom: 220px;
    overflow-y: auto;
    z-index: 1;
    position: relative;
}
.table-payments {
    padding-bottom: 3rem;
}
.app-table--small {
    border-spacing: 0 0.1rem;
}
.app-table--small .app-table__thead {
    height: 40px;
}
.app-table__thead tr {
    height: 30px;
}
.app-table__thead tr th:first-child {
    padding: 5px 1.5rem;
}
.app-table--small .app-table__thead th {
    font-size: .875rem;
}
.app-table__thead tr th {
    text-align: left;
    padding: 0 1.2rem;
    font-size: 1rem;
    color: #848483;
    font-weight: 400;
}
.app-table__tbody {
    width: 100%;
}
/* app-table__tr-body */
.app-table__tr-tbody {
    cursor: pointer;
    position: relative;
    z-index: 3;
    transition: all .3s;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgb(10 42 97 / 16%);
    background: inherit;
}
.app-table__tr-tbody  {
    background: #fff;
    text-align: left;
    padding: 1.25rem 1.125rem;
    border: none;
    z-index: 2;
    position: relative;
    color: #000;
}
.app-table__tr-body{
    display: flex;
    justify-content: space-between;
}
.app-table__title-mob {
    display: none;
}
.app-table__tr-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.app-table__tr-body li:first-child {
    border-radius: 20px 0 0 20px;
    padding-left: 24px;
}
.app-table__tr-body{
    background: #fff;
    text-align: left;
    padding: 1.25rem 1.125rem;
    border: none;
    z-index: 2;
    position: relative;
    color: #000;
    border-radius: 20px;
}
.app-li-pd-5{
    padding-top: 5px;
}