{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/492f08515a.js"></script>
</head>
<body>
    <div id="app">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar__logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128.527" height="59.146" viewBox="0 0 128.527 59.146">
                      <g id="Сгруппировать_9832" data-name="Сгруппировать 9832" transform="translate(-89 -64.854)">
                        <path id="Контур_22191" data-name="Контур 22191" d="M167.849-4181.9c-14.819,0-25.6-7.786-38.161-7.786-12.584,0-30.723,10.464-30.723,24.642,0,7.739,6.975,18.448,20,18.448,7.144,0,14-2.333,21.251-2.333,19.233,0,18.294,17.931,43.112,17.931,14.468,0,44.165-9.063,44.165-35.534,0-20.084-14.233-23.422-24.444-23.608C190.134-4190.375,182.729-4181.9,167.849-4181.9Z" transform="translate(-9.964 4255)" fill="#e6575d"/>
                        <g id="Сгруппировать_7658" data-name="Сгруппировать 7658" transform="translate(92 73.894)">
                          <g id="Сгруппировать_7637" data-name="Сгруппировать 7637" transform="translate(35.931 24.113)">
                            <path id="Контур_21852" data-name="Контур 21852" d="M136.554-4146a1.932,1.932,0,0,1,.609-1.474,2.122,2.122,0,0,1,1.511-.572,2.12,2.12,0,0,1,1.51.572,1.932,1.932,0,0,1,.609,1.474,1.976,1.976,0,0,1-.613,1.494,2.1,2.1,0,0,1-1.506.585,2.1,2.1,0,0,1-1.506-.585A1.973,1.973,0,0,1,136.554-4146Zm1.283-.877a1.384,1.384,0,0,0-.292.877,1.419,1.419,0,0,0,.292.886.992.992,0,0,0,.837.381.991.991,0,0,0,.836-.381,1.419,1.419,0,0,0,.293-.886,1.384,1.384,0,0,0-.293-.877,1,1,0,0,0-.836-.374A1,1,0,0,0,137.837-4146.878Z" transform="translate(-136.554 4149.817)" fill="#fff"/>
                            <path id="Контур_21853" data-name="Контур 21853" d="M148.564-4144.009v-3.9h.975v1.471h1.641v-1.471h.974v3.9h-.974v-1.648h-1.641v1.648Z" transform="translate(-138.833 4149.791)" fill="#fff"/>
                            <path id="Контур_21854" data-name="Контур 21854" d="M161.476-4143.96a1.964,1.964,0,0,1-.584-.065l.073-.8a.8.8,0,0,0,.26.041.614.614,0,0,0,.568-.382,3.266,3.266,0,0,0,.2-1.355v-1.39h3.192v3.9h-.975v-3.119h-1.283v.828a3.473,3.473,0,0,1-.35,1.771A1.193,1.193,0,0,1,161.476-4143.96Z" transform="translate(-141.171 4149.791)" fill="#fff"/>
                            <path id="Контур_21855" data-name="Контур 21855" d="M195.016-4144.009v-3.9h.975v1.471h1.641v-1.471h.974v3.9h-.974v-1.648h-1.641v1.648Z" transform="translate(-147.645 4149.791)" fill="#fff"/>
                            <path id="Контур_21856" data-name="Контур 21856" d="M183.165-4144.45v-3.9h.974v2.518h.017l1.7-2.518h1.056v3.9h-.975v-2.5h-.016l-1.689,2.5Zm1.86-4.581a1.217,1.217,0,0,1-.869-.3,1.362,1.362,0,0,1-.4-.84l.528-.057a.605.605,0,0,0,.24.422.818.818,0,0,0,.5.146.837.837,0,0,0,.5-.146.6.6,0,0,0,.244-.422l.519.1a1.235,1.235,0,0,1-.39.808A1.27,1.27,0,0,1,185.025-4149.03Z" transform="translate(-145.397 4150.232)" fill="#fff"/>
                            <path id="Контур_21857" data-name="Контур 21857" d="M174.323-4144.035v-.5H174.3a1.08,1.08,0,0,1-.475.426,1.607,1.607,0,0,1-.735.167,1.8,1.8,0,0,1-1.011-.3,1.017,1.017,0,0,1-.451-.914,1.017,1.017,0,0,1,.166-.581,1.186,1.186,0,0,1,.418-.386,2.406,2.406,0,0,1,.63-.224,4.925,4.925,0,0,1,.715-.11q.337-.023.751-.024v-.1a.62.62,0,0,0-.252-.528,1.054,1.054,0,0,0-.641-.187,1.455,1.455,0,0,0-1.064.446l-.5-.593a2.337,2.337,0,0,1,1.649-.617,2.306,2.306,0,0,1,.856.142,1.233,1.233,0,0,1,.54.39,1.581,1.581,0,0,1,.263.521,2.134,2.134,0,0,1,.078.588v2.372Zm-.016-1.641v-.138h-.219q-1.486,0-1.487.65a.4.4,0,0,0,.2.373.96.96,0,0,0,.483.114,1.029,1.029,0,0,0,.759-.264A.994.994,0,0,0,174.307-4145.676Z" transform="translate(-143.208 4149.817)" fill="#fff"/>
                          </g>
                          <g id="Сгруппировать_7639" data-name="Сгруппировать 7639" transform="translate(11.363 10.177)">
                            <g id="Сгруппировать_7638" data-name="Сгруппировать 7638">
                              <path id="Контур_21858" data-name="Контур 21858" d="M106.234-4157.87v-9.561h1.7v4.133h.041l4-4.133h2.3l-4.47,4.416,4.767,5.146h-2.39l-4.2-4.794h-.041v4.794Z" transform="translate(-106.234 4167.431)" fill="#fff"/>
                              <path id="Контур_21859" data-name="Контур 21859" d="M119.382-4157.87v-9.561h3.726a3.555,3.555,0,0,1,2.073.594,2.054,2.054,0,0,1,.858,1.81,2.011,2.011,0,0,1-.446,1.323,2.422,2.422,0,0,1-1.215.77v.027a2.432,2.432,0,0,1,1.5.716,2.139,2.139,0,0,1,.567,1.539,2.69,2.69,0,0,1-.3,1.3,2.228,2.228,0,0,1-.831.872,4.153,4.153,0,0,1-1.148.458,5.7,5.7,0,0,1-1.336.149Zm1.7-8.157v2.485H122.6a2.121,2.121,0,0,0,1.3-.338,1.132,1.132,0,0,0,.446-.958.981.981,0,0,0-.459-.912,2.861,2.861,0,0,0-1.431-.277Zm0,3.943v2.782h1.526q2.133,0,2.133-1.431a1.128,1.128,0,0,0-.5-1.04,3.046,3.046,0,0,0-1.566-.311Z" transform="translate(-108.728 4167.431)" fill="#fff"/>
                              <path id="Контур_21860" data-name="Контур 21860" d="M130.4-4157.87l4.159-9.561h1.471l4.119,9.561H138.2l-.891-2.188h-4.145l-.864,2.188Zm3.349-3.646h2.97l-1.471-3.889Z" transform="translate(-110.818 4167.431)" fill="#fff"/>
                              <path id="Контур_21861" data-name="Контур 21861" d="M145.261-4157.87v-9.561h3.12q3.6,0,3.6,2.769a2.4,2.4,0,0,1-1.026,2.161,4.816,4.816,0,0,1-2.687.675h-1.31v3.957Zm1.7-5.389h1.189q2.12,0,2.12-1.4a1.07,1.07,0,0,0-.561-1.053A3.354,3.354,0,0,0,148.2-4166h-1.242Z" transform="translate(-113.638 4167.431)" fill="#fff"/>
                              <path id="Контур_21862" data-name="Контур 21862" d="M158.79-4157.87v-8.076h-2.93v-1.485h7.562v1.485h-2.93v8.076Z" transform="translate(-115.649 4167.431)" fill="#fff"/>
                              <path id="Контур_21863" data-name="Контур 21863" d="M168.225-4157.87v-9.561h7.791v9.561h-1.7v-8.076h-4.389v8.076Z" transform="translate(-117.995 4167.431)" fill="#fff"/>
                              <path id="Контур_21864" data-name="Контур 21864" d="M182.057-4157.776a3.976,3.976,0,0,1-1.134-.135l.175-1.5a1.814,1.814,0,0,0,.581.095,1.546,1.546,0,0,0,1.465-1.188,13.318,13.318,0,0,0,.452-4.2v-2.728h6.576v9.561h-1.7v-8.076h-3.24v1.472a13,13,0,0,1-.736,5.111A2.51,2.51,0,0,1,182.057-4157.776Z" transform="translate(-120.404 4167.431)" fill="#fff"/>
                              <path id="Контур_21865" data-name="Контур 21865" d="M195.171-4157.87l4.158-9.561H200.8l4.118,9.561h-1.944l-.891-2.188h-4.145l-.865,2.188Zm3.348-3.646h2.971l-1.472-3.889Z" transform="translate(-123.107 4167.431)" fill="#fff"/>
                              <path id="Контур_21866" data-name="Контур 21866" d="M210.732-4157.87v-8.076H207.8v-1.485h7.562v1.485h-2.93v8.076Z" transform="translate(-125.503 4167.431)" fill="#fff"/>
                              <path id="Контур_21867" data-name="Контур 21867" d="M217.734-4157.87l4.159-9.561h1.471l4.119,9.561h-1.945l-.891-2.188H220.5l-.864,2.188Zm3.349-3.646h2.971l-1.471-3.889Z" transform="translate(-127.387 4167.431)" fill="#fff"/>
                            </g>
                          </g>
                          <path id="Контур_21868" data-name="Контур 21868" d="M215.033-4179.991H92.21v30.009h29.263v-1.649H93.859v-26.711H213.384v26.711H185.77v1.649h29.263Z" transform="translate(-92.21 4179.991)" fill="#fff"/>
                        </g>
                      </g>
                    </svg>
                </div>
                <nav class="navigation" id="navigation_active">
                        <a href="/account/" class="navigation__item" title="Главная">
                            <div class="navigation__icon">
                                <div class="app-icon-svg__block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="navigation__text"> Главная </div>
                        </a>
                    <div>
                        <a href="/send-cnt/" class="navigation__item" title="Счетчики">
                            <div class="navigation__icon">
                                <div class="app-icon-svg__block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
                                      <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                                      <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="navigation__text"> Счетчики </div>
                        </a>
                    </div>
                    <div>
                        <a href="/payment/" class="navigation__item" title="История оплат">
                            <div class="navigation__icon">
                                <div class="app-icon-svg__block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                                      <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="navigation__text"> История оплат </div>
                        </a>
                    </div>
                        <a href="/request/" class="navigation__item" title="Заявки" >
                            <div class="navigation__icon">
                                <div class="app-icon-svg__block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                                      <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                      <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                      <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="navigation__text"> Заявки </div>
                        </a>
                    <div>
                        <a href="/shop/" class="navigation__item" title="Магазин">
                            <div class="navigation__icon">
                                <div class="app-icon-svg__block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="navigation__text"> Магазин </div>
                        </a>
                    </div>
                    <div>
                        <a href="/profile/" class="navigation__item" title="Профиль">
                            <div class="navigation__icon">
                                <div class="app-icon-svg__block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="navigation__text"> Профиль </div>
                        </a>
                    </div>
                    <div>
                        <a href="/support/" class="navigation__item" title="Тех. поддержка">
                            <div class="navigation__icon">
                                <div class="app-icon-svg__block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-wechat" viewBox="0 0 16 16">
                                      <path d="M11.176 14.429c-2.665 0-4.826-1.8-4.826-4.018 0-2.22 2.159-4.02 4.824-4.02S16 8.191 16 10.411c0 1.21-.65 2.301-1.666 3.036a.324.324 0 0 0-.12.366l.218.81a.616.616 0 0 1 .029.117.166.166 0 0 1-.162.162.177.177 0 0 1-.092-.03l-1.057-.61a.519.519 0 0 0-.256-.074.509.509 0 0 0-.142.021 5.668 5.668 0 0 1-1.576.22ZM9.064 9.542a.647.647 0 1 0 .557-1 .645.645 0 0 0-.646.647.615.615 0 0 0 .09.353Zm3.232.001a.646.646 0 1 0 .546-1 .645.645 0 0 0-.644.644.627.627 0 0 0 .098.356Z"/>
                                      <path d="M0 6.826c0 1.455.781 2.765 2.001 3.656a.385.385 0 0 1 .143.439l-.161.6-.1.373a.499.499 0 0 0-.032.14.192.192 0 0 0 .193.193c.039 0 .077-.01.111-.029l1.268-.733a.622.622 0 0 1 .308-.088c.058 0 .116.009.171.025a6.83 6.83 0 0 0 1.625.26 4.45 4.45 0 0 1-.177-1.251c0-2.936 2.785-5.02 5.824-5.02.05 0 .1 0 .15.002C10.587 3.429 8.392 2 5.796 2 2.596 2 0 4.16 0 6.826Zm4.632-1.555a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0Zm3.875 0a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0Z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="navigation__text"> Тех. поддержка </div>
                        </a>
                    </div>
                </div>
                <div class="sidebar__footer">
                    <div class="sidebar__footer-links">
                        <a href="#" title="Учетные данные" class="navigation__item sidebar__footer--item-navigate" style="margin-bottom: 0px;">
                            <div class="navigation__icon">
                                <div class="app-icon-svg__block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                      <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="navigation__text"> Выйти </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="app-content">
                <span>
                    <header class="header">
                        <div class="header__left">
                            <div class="header__title-block">
                                <span class="header__title">{% block title %}{% endblock %}</span>
                            </div>
                        </div>
                        <div data-v-6e3cd10b="" class="balance">
                            <div data-v-6e3cd10b="" class="balance__info">
                                <button data-v-6e3cd10b="" class="app-button mr-2 app-button--primary  app-button__text app-button__text--primary app-button__icon" alt="Версия для слабовидящих" title="Версия для слабовидящих">
                                    <span class="app-button__content">
                                        <i class="fa fa-eye" aria-hidden="true" style="font-size: 1.375rem;"></i>
                                    </span>
                                </button>
                                <p data-v-6e3cd10b="" class="mr-2" style="cursor: pointer;">
                                    <button data-v-6e3cd10b="" class="app-button mr-1 app-button--primary  app-button__text app-button__text--primary app-button__icon" alt="Оплата всех долгов" title="Оплата всех долгов">
                                        <span class="app-button__content">
                                            <i class="fa fa-university" aria-hidden="true" style="font-size: 1.25rem;"></i>
                                        </span>
                                    </button>
                                    <span data-v-6e3cd10b="" class="block-debt block-debt--success">0 ₽</span>
                                </p>
                            </div>
                            <div data-v-6e3cd10b="" class="balance__bell">
                                <div data-v-6e3cd10b="" class="balance__notice">
                                    <button data-v-6e3cd10b="" class="app-button app-button--primary  app-button__text app-button__text--primary app-button__icon" alt="Уведомления" title="Уведомления">
                                        <span class="app-button__content">
                                            <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 1.5rem;"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </header>
                </span>
            </div>
        </div>
    </div>
    <!-- Content start -->
    <div class="app-content__wrapper">
        {% block content %}{% endblock %}
    </div>

    <!-- scripts -->
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
           var url=document.location.href;
                  $.each($(".navigation__item"),function(){
            if(this.href==url){$(this).addClass('navigation__item--active');};
           });
        });
    </script>
</body>
</html>